/agnostic-angular-portlet
/agnostic-plain-js-portlet
/agnostic-react-portlet
/agnostic-vuejs-portlet

/master-angular-portlet
/master-plain-js-portlet
/master-react-portlet
/master-vuejs-portlet

/create-react-app-portlet
