.dropdown.open > .dropdown-menu,
.overlay-content .open > .dropdown-menu {
	display: block;
}

@if $compat-dropdowns {
	// Moved .caret to .dropdown-toggle:after in BS4

	.caret {
		border-top: $caret-width dashed;
		display: inline-block;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		width: 0;
		border-top: $caret-width solid \9; // IE8
		border-left: $caret-width solid transparent;
		border-right: $caret-width solid transparent;
	}

	.dropdown-menu {
		border: 1px solid $dropdown-border-color;
	}

	// Moved .dropdown-menu > li > a to .dropdown-item in BS4

	.dropdown-menu > li > a,
	.dropdown-menu .link-list > li > a {
		@extend .dropdown-item;
	}

	.dropdown-menu > li.disabled > a,
	.dropdown-menu .link-list > .disabled > a {
		$disabled: setter(map-get($dropdown-item-base, disabled), ());
		$disabled: map-merge(
			$disabled,
			(
				background-color:
					setter(
						map-get($dropdown-item-base, disabled-bg),
						map-get($disabled, background-color)
					),
				border-color:
					setter(
						map-get($dropdown-item-base, disabled-border-color),
						map-get($disabled, border-color)
					),
				box-shadow:
					setter(
						map-get($dropdown-item-base, disabled-box-shadow),
						map-get($disabled, box-shadow)
					),
				color:
					setter(map-get($dropdown-item-base, disabled-color), map-get($disabled, color)),
				cursor:
					setter(
						map-get($dropdown-item-base, disabled-cursor),
						map-get($disabled, cursor)
					),
				opacity:
					setter(
						map-get($dropdown-item-base, disabled-opacity),
						map-get($disabled, opacity)
					),
				outline:
					setter(
						map-get($dropdown-item-base, disabled-outline),
						map-get($disabled, outline)
					),
				pointer-events:
					setter(
						map-get($dropdown-item-base, disabled-pointer-events),
						map-get($disabled, pointer-events)
					),
				text-decoration:
					setter(
						map-get($dropdown-item-base, disabled-text-decoration),
						map-get($disabled, text-decoration)
					),
			)
		);
		@include clay-css($disabled);
	}

	.dropdown-toggle:after {
		border-width: 0;
		content: normal;
	}

	.dropup .dropdown-toggle:after {
		border-width: 0;
		content: normal;
	}

	.dropdown > .dropdown-menu {
		position: absolute;
	}
}
