{
    "env": {
        "node": true,
        "jest": true
    },
    "extends": "liferay",
    "rules": {
        "eol-last": "off",
        "linebreak-style": "off",
        "no-invalid-this": "off",
        "no-redeclare": "off",
        "no-unused-vars": "off",
        "no-useless-escape": "off",
        "no-var": "off",
        "prefer-spread": "off",
        "prefer-rest-params": "off",
        "require-jsdoc": "off"
    }
}