#
# Project-specific
#

/maintenance/projects/js-toolkit/qa
/maintenance/projects/js-toolkit/**/generators
/maintenance/projects/js-toolkit/**/lib
/maintenance/projects/js-toolkit/**/__fixtures__

/projects/amd-loader/build

/projects/js-toolkit/qa
/projects/js-toolkit/**/generators
/projects/js-toolkit/**/lib
/projects/js-toolkit/**/__tests__

#
# Templates
#

/copyright.js
/maintenance/projects/**/copyright.js
/projects/**/copyright.js

#
# Third-party code
#

/third-party/projects
node_modules
