# We don't want Prettier to strip the trailing blank line from these templates.
/copyright.js
/maintenance/projects/*/copyright.js
/maintenance/projects/js-toolkit/packages/liferay-npm-build-tools-common/src/__tests__/__fixtures__/alias/invalid.json
/projects/*/copyright.js
