#
# Project-specific
#

/maintenance/projects/js-themes-toolkit-v8-x/packages/generator-liferay-theme/generators/app/templates/_package.json

/maintenance/projects/js-themes-toolkit-v9-x/packages/generator-liferay-theme/generators/app/templates/_package.json

/maintenance/projects/js-toolkit/**/generators
/maintenance/projects/js-toolkit/**/lib
/maintenance/projects/js-toolkit/packages/js-api/**/*.d.ts
/maintenance/projects/js-toolkit/packages/js-api/**/*.js
/maintenance/projects/js-toolkit/qa/**
/maintenance/projects/js-toolkit-v2-x/**/generators
/maintenance/projects/js-toolkit-v2-x/**/lib
/maintenance/projects/js-toolkit-v2-x/packages/liferay-npm-build-tools-common/src/__tests__/__fixtures__/alias/invalid.json
/maintenance/projects/js-toolkit-v2-x/qa/**/*

/maintenance/projects/senna/build
/maintenance/projects/senna/lib

/maintenance/projects/amd-loader/build

/maintenance/projects/js-themes-toolkit/packages/generator-liferay-theme/generators/app/templates/_package.json

/projects/npm-tools/packages/npm-scripts/__fixtures__/typescript/**/tsconfig.json

/target-platforms/qa/**/*

#
# Templates.
#

/copyright.js
/maintenance/projects/**/copyright.js
/projects/**/copyright.js

#
# Third-party.
#

/third-party/projects
