"packages/**/*.js": {
  command: "node_modules/.bin/prettier-eslint --write ${path}"
}
"packages/babel-plugin-name-amd-modules/**/*.js": {
  command: "cd packages/babel-plugin-name-amd-modules && npm run build"
}
"packages/babel-plugin-namespace-amd-define/**/*.js": {
  command: "cd packages/babel-plugin-namespace-amd-define && npm run build"
}
"packages/babel-plugin-namespace-modules/**/*.js": {
  command: "cd packages/babel-plugin-namespace-modules && npm run build"
}
"packages/babel-plugin-normalize-requires/**/*.js": {
  command: "cd packages/babel-plugin-normalize-requires && npm run build"
}
"packages/babel-plugin-wrap-modules-amd/**/*.js": {
  command: "cd packages/babel-plugin-wrap-modules-amd && npm run build"
}
"packages/babel-preset-liferay-standard/**/*.js": {
  command: "cd packages/babel-preset-liferay-standard && npm run build"
}
"packages/generator-liferay-js/**/*.js": {
  command: "cd packages/generator-liferay-js && npm run build"
}
"packages/liferay-npm-bridge-generator/**/*.js": {
  command: "cd packages/liferay-npm-bridge-generator && npm run build"
}
"packages/liferay-npm-build-support/**/*.js": {
  command: "cd packages/liferay-npm-build-support && npm run build"
}
"packages/liferay-npm-build-tools-common/**/*.js": {
  command: "cd packages/liferay-npm-build-tools-common && npm run build"
}
"packages/liferay-npm-bundler/**/*.js": {
  command: "cd packages/liferay-npm-bundler && npm run build"
}
"packages/liferay-npm-bundler-plugin-create-react-app/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-create-react-app && npm run build"
}
"packages/liferay-npm-bundler-plugin-exclude-imports/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-exclude-imports && npm run build"
}
"packages/liferay-npm-bundler-plugin-inject-imports-dependencies/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-inject-imports-dependencies && npm run build"
}
"packages/liferay-npm-bundler-plugin-inject-peer-dependencies/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-inject-peer-dependencies && npm run build"
}
"packages/liferay-npm-bundler-plugin-namespace-packages/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-namespace-packages && npm run build"
}
"packages/liferay-npm-bundler-plugin-replace-browser-modules/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-replace-browser-modules && npm run build"
}
"packages/liferay-npm-bundler-plugin-resolve-linked-dependencies/**/*.js": {
  command: "cd packages/liferay-npm-bundler-plugin-resolve-linked-dependencies && npm run build"
}
"packages/liferay-npm-bundler-preset-create-react-app/**/*.js": {
  command: "cd packages/liferay-npm-bundler-preset-create-react-app && npm run build"
}
"packages/liferay-npm-bundler-preset-standard/**/*.js": {
  command: "cd packages/liferay-npm-bundler-preset-standard && npm run build"
}
"packages/liferay-npm-imports-checker/**/*.js": {
  command: "cd packages/liferay-npm-imports-checker && npm run build"
}
