# Note that even though this project currently uses Lerna to produce releases,
# we still have this .yarnrc file for consistency with the other projects, and
# so that @liferay/changelog-generator can derive the tag format from it.
version-tag-prefix "liferay-js-toolkit/v"
version-git-message "chore: prepare liferay-js-toolkit/%s release"
