@if $compat-sidebar {
	.sidebar-default {
		background-color: #fff;
	}

	.sidebar-actions,
	.sidebar-header-actions {
		float: right;

		@include list-unstyled();

		margin-bottom: 0;
		margin-right: -9px;

		> li {
			display: inline-block;
		}
	}

	.sidebar-block.tabular-list-group-unstyled {
		margin-right: -9px;
	}

	.sidebar-section-flex {
		@extend %autofit-row;
		@extend %autofit-row-center;
	}
}
