$experimental-support-for-mozilla: true !default;
$experimental-support-for-webkit: true !default;
$experimental-support-for-opera: true !default;
$experimental-support-for-microsoft: true !default;
$experimental-support-for-khtml: false !default;

@mixin experimental(
	$property,
	$value,
	$moz: $experimental-support-for-mozilla,
	$webkit: $experimental-support-for-webkit,
	$o: $experimental-support-for-opera,
	$ms: $experimental-support-for-microsoft,
	$official: true
) {
	$params: (
		if($moz or $experimental-support-for-mozilla, moz, ''),
		if($webkit or $experimental-support-for-webkit, webkit, ''),
		if($o or $experimental-support-for-opera, o, ''),
		if($ms or $experimental-support-for-microsoft, ms, ''),
		if($official, spec, '')
	);

	@include prefixer($property, $value, $params);
}

@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
	$gradient-type: if($orientation == vertical, 0, 1);

	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
}

@mixin force-wrap {
	white-space: -hp-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	white-space: pre-line;
	white-space: pre-wrap;
	white-space: pre;
	word-wrap: break-word;
}

@mixin hyphenation {
	@include hyphens(auto);
	@include word-wrap;
}