--publish.tag maintenance

# We don't actually use `yarn version` to publish this project, but we still
# specify the desired tag format here so that `@liferay/changelog-generator` can
# pick it up.
#
# Note that prefix is based on the directory name so that
# `@liferay/changelog-generator` distinguish it from the v9-x series.
version-tag-prefix "js-themes-toolkit-v8-x/v"
