/agnostic-angular-portlet
/agnostic-plain-js-portlet
/agnostic-react-portlet
/agnostic-shared-bundle
/agnostic-vuejs-portlet

/agnostic-remote-app

/master-angular-portlet
/master-plain-js-portlet
/master-react-portlet
/master-shared-bundle
/master-vuejs-portlet

/angular-cli-portlet
/create-react-app-portlet
/vue-cli-portlet
