// Flex mixin

@mixin break-flex-item() {
	flex-basis: auto;
	width: 100%;
}

@mixin stack-flex-container() {
	flex-direction: column;

	.flex-item-full {
		flex-basis: auto;
	}
}

// BS3 Button Size mixin

@mixin button-size(
	$padding-vertical,
	$padding-horizontal,
	$font-size,
	$line-height,
	$border-radius
) {
	border-radius: $border-radius;
	font-size: $font-size;
	line-height: $line-height;
	padding: $padding-vertical $padding-horizontal;
}

// Gradients

// Horizontal gradient, from left to right

// Creates two color stops, start and end, by specifying a color and position for each color stop.

@mixin gradient-horizontal(
	$start-color: #555,
	$end-color: #333,
	$start-percent: 0%,
	$end-percent: 100%
) {
	background-image: -o-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Opera 12
	background-image: -webkit-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(
		to right,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
}

// Vertical gradient, from top to bottom

// Creates two color stops, start and end, by specifying a color and position for each color stop.

@mixin gradient-vertical(
	$start-color: #555,
	$end-color: #333,
	$start-percent: 0%,
	$end-percent: 100%
) {
	background-image: -o-linear-gradient(
		top,
		$start-color $start-percent,
		$end-color $end-percent
	); // Opera 12
	background-image: -webkit-linear-gradient(
		top,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(
		to bottom,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
	background-image: -o-linear-gradient(
		$deg,
		$start-color,
		$end-color
	); // Opera 12
	background-image: -webkit-linear-gradient(
		$deg,
		$start-color,
		$end-color
	); // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(
		$deg,
		$start-color,
		$end-color
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
}

@mixin gradient-horizontal-three-colors(
	$start-color: #00b3ee,
	$mid-color: #7a43b6,
	$color-stop: 50%,
	$end-color: #c3325f
) {
	background-image: -o-linear-gradient(
		left,
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-image: -webkit-linear-gradient(
		left,
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-image: linear-gradient(
		to right,
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-repeat: no-repeat;
}

@mixin gradient-vertical-three-colors(
	$start-color: #00b3ee,
	$mid-color: #7a43b6,
	$color-stop: 50%,
	$end-color: #c3325f
) {
	background-image: -o-linear-gradient(
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-image: -webkit-linear-gradient(
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-image: linear-gradient(
		$start-color,
		$mid-color $color-stop,
		$end-color
	);
	background-repeat: no-repeat;
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
	background-image: -webkit-radial-gradient(
		circle,
		$inner-color,
		$outer-color
	);
	background-image: radial-gradient(circle, $inner-color, $outer-color);
	background-repeat: no-repeat;
}

@mixin gradient-striped($color: rgba(255, 255, 255, 0.15), $angle: 45deg) {
	background-image: -o-linear-gradient(
		$angle,
		$color 25%,
		transparent 25%,
		transparent 50%,
		$color 50%,
		$color 75%,
		transparent 75%,
		transparent
	);
	background-image: -webkit-linear-gradient(
		$angle,
		$color 25%,
		transparent 25%,
		transparent 50%,
		$color 50%,
		$color 75%,
		transparent 75%,
		transparent
	);
	background-image: linear-gradient(
		$angle,
		$color 25%,
		transparent 25%,
		transparent 50%,
		$color 50%,
		$color 75%,
		transparent 75%,
		transparent
	);
}

// Labels

@mixin label-variant($color) {
	background-color: $color;

	&[href] {
		&:hover,
		&:focus {
			background-color: darken($color, 10%);
		}
	}
}

// BS3 Navbar Vertical Align mixin

@mixin navbar-vertical-align($element-height) {
	margin-bottom: (($navbar-height - $element-height) / 2);
	margin-top: (($navbar-height - $element-height) / 2);
}

// Progress bars

@mixin progress-bar-variant($color) {
	background-color: $color;

	// Deprecated parent class requirement as of v3.2.0

	.progress-striped & {
		@include gradient-striped();
	}
}

// _responsive-visibility.scss

// More easily include all the states for responsive-utilities.less.
// [converter] $parent hack

@mixin responsive-visibility($parent) {
	#{$parent} {
		display: block !important;
	}

	table#{$parent} {
		display: table !important;
	}

	tr#{$parent} {
		display: table-row !important;
	}

	th#{$parent},
	td#{$parent} {
		display: table-cell !important;
	}
}

// [converter] $parent hack

@mixin responsive-invisibility($parent) {
	#{$parent} {
		display: none !important;
	}
}

// BS3 Tab Focus
// WebKit-style focus

@mixin tab-focus() {
	// Default

	outline: thin dotted;

	// WebKit

	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// BS3 Text Overflow mixin

@mixin text-overflow() {
	@include text-truncate();
}

// Vendor Prefixes

// All vendor mixins are deprecated as of v3.2.0 due to the introduction of
// Autoprefixer in our Gruntfile. They will be removed in v4.

// - Animations
// - Backface visibility
// - Box shadow
// - Box sizing
// - Content columns
// - Hyphens
// - Placeholder text
// - Transformations
// - Transitions
// - User Select

// Animations

@mixin animation($animation) {
	-o-animation: $animation;
	-webkit-animation: $animation;
	animation: $animation;
}

@mixin animation-name($name) {
	-webkit-animation-name: $name;
	animation-name: $name;
}

@mixin animation-duration($duration) {
	-webkit-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
	-webkit-animation-timing-function: $timing-function;
	animation-timing-function: $timing-function;
}

@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin animation-iteration-count($iteration-count) {
	-webkit-animation-iteration-count: $iteration-count;
	animation-iteration-count: $iteration-count;
}

@mixin animation-direction($direction) {
	-webkit-animation-direction: $direction;
	animation-direction: $direction;
}

@mixin animation-fill-mode($fill-mode) {
	-webkit-animation-fill-mode: $fill-mode;
	animation-fill-mode: $fill-mode;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

@mixin backface-visibility($visibility) {
	-moz-backface-visibility: $visibility;
	-webkit-backface-visibility: $visibility;
	backface-visibility: $visibility;
}

// Box sizing

@mixin box-sizing($boxmodel) {
	-moz-box-sizing: $boxmodel;
	-webkit-box-sizing: $boxmodel;
	box-sizing: $boxmodel;
}

// CSS3 Content Columns

@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
	-moz-column-count: $column-count;
	-moz-column-gap: $column-gap;
	-webkit-column-count: $column-count;
	-webkit-column-gap: $column-gap;
	column-count: $column-count;
	column-gap: $column-gap;
}

// Transformations

@mixin scale($ratio...) {
	transform: scale($ratio);
}

@mixin scaleX($ratio) {
	transform: scaleX($ratio);
}

@mixin scaleY($ratio) {
	transform: scaleY($ratio);
}

@mixin skew($x, $y) {
	transform: skewX($x) skewY($y);
}

@mixin translate($x, $y) {
	transform: translate($x, $y);
}

@mixin translate3d($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}

@mixin rotate($degrees) {
	transform: rotate($degrees);
}

@mixin rotateX($degrees) {
	transform: rotateX($degrees);
}

@mixin rotateY($degrees) {
	transform: rotateY($degrees);
}

@mixin perspective($perspective) {
	perspective: $perspective;
}

@mixin perspective-origin($perspective) {
	perspective-origin: $perspective;
}

@mixin transform-origin($origin) {
	transform-origin: $origin;
}

// Transitions

@mixin transition-property($transition-property...) {
	transition-property: $transition-property;
}

@mixin transition-delay($transition-delay) {
	transition-delay: $transition-delay;
}

@mixin transition-duration($transition-duration...) {
	transition-duration: $transition-duration;
}

@mixin transition-timing-function($timing-function) {
	transition-timing-function: $timing-function;
}

@mixin transition-transform($transition...) {
	transition: transform $transition;
}

// User icons

@mixin color-user-icon($color: #999, $bg-color: #fff) {
	background-color: $bg-color;
	box-shadow: 0 0 0 1px $gray-300;
	color: $color;
}

@mixin monospace($size) {
	@include clay-monospace($size);
}

@mixin tab-focus() {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
